*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--- pink background photo of the website/*/
body {
    background-size: cover; 

 }
    

.main {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: sans-serif;
}
/*---- Menu section of the right page/*/
    
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar  .logo{ 
    margin-top: -5%;
    margin-left: -10%;
    width: 25%;
    
}



ul li {
    margin-top: 5% ;
    margin-bottom: 15%;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    width: 160px;
    
}
ul li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: darkviolet;
    transition: .4s ease;
    
}
/*--- transation color when you move your cursor to the menu---/*/
ul li a:hover{
   color:  #7fffd4;
}

.info{
    margin-left: 10%;
    margin-top: 10px;
    height: 95vh;
}



.intro{
    display: flex;
    justify-content: space-evenly;
}
.name{
    flex: 1 1 50%;
    padding: 80px 0 ;
    margin-top: 6%;
    margin-left: 7%;
    margin: 10%;
    font-size: 30px;
}
/*--- Description of front page --- /*/
.name h2{
    font-size: 65px;
    color: darkorchid;
}
/*--- let's talk btn on the first page --- /*/
.btn-box{
    width: 0;
    height: 30px;
    background: aquamarine;
}
.btn-box a{
    display: inline-flex;
    width: 140px;
    height: 100%;
    background-color: #7fffd4;
    border: 2px solid blueviolet;
    border-radius: 8px;
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
}
.btn-box a:hover{
    color: #87ceeb;
    background: transparent;
}

/*--- First page photo-/*/
.image {  
width: 30%;
height: 60%;    
right: 100px;
position: absolute;
bottom: 0;
}
/*--- First page photo-/*/ /*--- /* Styles for the images/elements  on the right side of the website */

.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
}
.image:hover .profile{
    left: 55%;

}
/*--- About me seond page --------*/

.about h3{
    font-size: 100px;
    color: #7fffd4;
}
/*Combined all the styles for the  individual about me into article */

.about{
    padding: 40px ;
    color: #01080E;
    font-size: 30px;
    display: flex;
    text-align: justify;
    flex-direction: column;
    font-family: sans-serif;
    margin-bottom: 20px;  
}
.projects aside{
padding: 40px;
font-size: 100px;
color: #7fffd4;
}
.projects h4{
    font-size: 50px;
    color: #8a2be2;
    margin-left: 50px;
    

}
.section {
    padding: 20px ;
    color: #01080E;
    font-size: 30px;
    display: flex;
    text-align: justify;
    flex-direction: column;
    font-family: sans-serif;
    margin-bottom: 20px;  
   
} 
.photo {
    width: 600px;
    height: 700px;
    margin-left: 20px;
    transform: translateX(-200px);   

}
.project-2{
    width: 650px ;
    height: 200px;
    transform: translateY(-500px) translateX(400px);
}
.project-title {
    display: flex;
    
}
#Personal{

transform: translateX(279px);
}

/*--- element logos on the bottom of the webpage */

.logos{
    width: 50px;
  
   
}
/*--- contact information email-linkedin-github---- */

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* This Style is the footer style of the end of the website */


.footer p{
font:bold ;

}
@media screen and (max-width: 720px){
    nav ul {
        display: flex;
        justify-content: flex-start;
        


    }
     nav li{
        flex: 1 1 0;
    }
   
   
    
}






