*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--- pink background photo of the website/*/
body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/664/554/460/cute-pink-blur-gradation-wallpaper-thumb.jpg");
    background-size: cover;
    
    }
    

.main {
    width: 100%;
    height: 200px;
    position: relative;
    font-family: sans-serif;
}
/*---- Menu section of the right page/*/
    
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar  .logo{ 
    margin-top: -5%;
    margin-left: -10%;
    width: 25%;
    
}

ul li {
    margin-top: 5% ;
    margin-bottom: 15%;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    width: 160px;
    
}
ul li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: darkviolet;
    transition: .4s ease;
    
}
/*--- transation color when you move your cursor to the menu---/*/
ul li a:hover{
    color: skyblue;
}
.info{
    margin-left: 10%;
    margin-top: 10px;
    height: 95vh;
}



.intro{
    display: flex;
    justify-content: space-evenly;
}
.name{
    flex: 1 1 50%;
    padding: 80px 0 ;
    margin-top: 6%;
    margin-left: 7%;
    margin: 10%;
    font-size: 30px;
}
/*--- Description of front page --- /*/
.name h2{
    font-size: 65px;
    color: darkorchid;
}

.image {
   
width: 30%;
height: 60%;    
right: 100px;
position: absolute;
bottom: 0;
}
/*--- First page photo-/*/
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
}
.image:hover .profile{
    left: 55%;

}
/*--- About me seond page --------*/
.about{
    padding: 80px 0;
    color: #01080E;
    font-size: 50px;
    margin: 20px;
}
.about-col-1 {
    flex-basis: 35%;
}
.paragraph{
    margin: 10px 0 40px;
}